/* GENERAL */

* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'segoe uil';
    src: url('font/segoeuil.ttf');
}
@font-face {
    font-family: 'segoe uisb';
    src: url('font/seguisb.ttf');
}
@font-face {
    font-family: 'segoe ui';
    src: url('font/segoeui.ttf');
}

body {
    font-family: 'segoe ui', sans-serif;
}

.white-divider {
    width: 50px;
    height: 2px;
    background-color: #fff;
    margin-top: 2px;
}

.black-divider {
    width: 50px;
    height: 2px;
    background-color: #515f67;
    margin-top: 2px;
}


/* NAVBAR */

header {
    width: 100%;
    height: 800px;
    background: url(images/header.jpg) no-repeat;
}

nav {
    background: rgba(73, 84, 91, 0.85);
    padding: 4% 15%;
    height: auto;
    display: flex;
    justify-content: space-between;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
}

nav ul li a {
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    color: #f1f2f2;
    text-decoration: none;
    padding: 10px 20px;
    font-weight: bold;
}

nav .active {
    border: 2px solid #4bcaff;
    color: #4bcaff;
}


/* HERO */

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 260px 0;
}

.hero p {
    font-family: 'segoe uil';
    color: #fff;
    font-size: 42px;
    background-color: rgba(76, 87, 95, 0.7);
    text-transform: uppercase;
    padding: 5px 15px;
}

.hero .p1 {
    margin-bottom: 10px;
}

/* SERVICES */

#services {
    background-color: #4bcaff;
    width: 100%;
    height: 490px;
    color: #fff;
}

#services h1 {
    text-transform: uppercase;
    font-weight: normal;
    font-size: 30px;
    padding-top: 5%;
    font-family: 'segoe uil';
}

#services .title {
    max-width: 70%;
    margin: 0 auto 55px auto;
}

#services .content {
    display: flex;
    max-width: 70%;
    margin: 0 auto;
}

.product {
    font-family: 'segoe uisb', sans-serif;
    margin-right: 22px;
}

.product:last-child {
    margin: 0;
}

.product h2 {
    text-transform: uppercase;
    font-size: 24px;
    margin: 10px 0;
}

.product p {
    font-size: 12px;
    justify-content: center;
}

.content img {
    width: 46px;
    height: 46px;
}

/* PORTFOLIO */

#portfolio {
    width: 100%;
    height: auto;
    background: #fff;
}

.portfolio-nav {
    display: flex;
    max-width: 70%; 
    margin: 20px auto;
    padding-top: 5%;
}

.portfolio-nav .navbar {
    font-family: 'segoe ui', sans-serif;
    font-weight: bold;
    font-size: 14px;
    margin: 20px auto;
    max-width: 100%;
    width: 100%;
}

.portfolio-nav ul {
    display: flex;
    justify-content: flex-end;
}

.portfolio-nav ul li {
    list-style-type: none;
}

.portfolio-nav ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #515f67;
    padding: 5px 20px;
}

.portfolio-nav .navbar .active {
    border: 2px solid #4bcaff;
    color: #4bcaff;
}

.portfolio-nav h1 {
    text-transform: uppercase;
    font-weight: normal;
    font-size: 30px;
    font-family: 'segoe uil';
    color: #515f67; 
}

#portfolio .container {
    padding: 70px 0;
    display: flex;
    flex-wrap: wrap;
    height: 550px;
    max-width: 70%;
    justify-content: space-between;
    align-content: space-between;
    margin: 0 auto;
}

#portfolio img {
    width: 270px;
    height: 270px;
}

/* DEFAULT */

#default {
    background-color: #515f67;
    display: flex;
    padding: 5% 15%;
}

#default h1 {
    color: #fff;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 30px;
    font-family: 'segoe uil';
}

#default .title {
    margin-bottom: 30px;
}

#default p {
    font-family: 'segoe ui', sans-serif;
    font-size: 14px;
    line-height: 25px;
    color: #fff;
    width: 88%;
}

#default .last-p {
    margin: 30px 0 20px 0;
    width: 82%;
}

#default .button {
    text-decoration: none;
    text-transform: uppercase;
    color: #353f46;
    font-weight: bold;
    padding: 10px 30px;
    border: 2px solid #353f46;
    font-size: 14px;
    transition: all .5s;
}

#default .button:hover {
    color: #fff;
    border: 2px solid #fff;
}

/* TWITTER */

#twitter {
    background-color: #4bcaff;
    padding: 5% 15%;
    height: auto;
}

#twitter .header-twitter {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

#twitter h1 {
    color: #fff;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 30px;
    font-family: 'segoe uil';
}

#twitter .logo-twitter img {
    width: 30px;
    height: auto;
}

#twitter .twitter-content {
    color: #fff;
    font-family: 'segoe uil';
    font-size: 28px;
}

#twitter .twitter-content p {
    margin-top: 20px;
    line-height: 50px;
}

/* JOHN DOE */

#johndoe {
    background: url(images/blueasy-freebie_30.jpg) no-repeat center;
    height: auto;
    padding: 5% 15%;
}

#johndoe h1 {
    color: #fff;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 30px;
    font-family: 'segoe uil';
}

#johndoe p {
    font-family: 'segoe ui', sans-serif;
    color: #fff;
    font-size: 14px;
    line-height: 25px;
}

#johndoe .first-content p:first-child, #johndoe .second-content p:first-child {
    margin-top: 35px;
}

#johndoe img {
    width: 25px;
    height: 25px;
}

#johndoe .content {
    display: flex;
    justify-content: space-between;
}

#johndoe .second-content ul {
    display: flex;
    list-style-type: none;
    margin-top: 30px;
}

#johndoe .second-content ul li {
    border: 2px solid #fff;
    padding: 15px;
    margin-right: 20px;
}

#johndoe .last-p {
    margin-top: 30px;
}

#johndoe .first-content {
    margin-right: 30px;
}

/* TESTIMONIALS */

#testimonials {
    background-color: #fff;
    padding: 5% 15%;
    height: auto;
}

#testimonials .header-testimonials {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

#testimonials h1 {
    color: #515f67;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 30px;
    font-family: 'segoe uil';
}

#testimonials .test-content {
    color: #515f67;
    font-family: 'segoe uil';
    font-size: 28px;
}

#testimonials .test-content p {
    margin-top: 20px;
    line-height: 50px;
}

#testimonials .test-content p:last-child {
    margin-top: 20px;
    font-family: 'segoe ui', sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: #4bcaff;
}

/* CONTACT */

#contact {
    background: url(images/blueasy-freebie_32.jpg) no-repeat center;
    height: auto;
    padding: 5% 15%;
}

#contact .content-contact {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

#contact h1 {
    color: #fff;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 30px;
    font-family: 'segoe uil';
}

#contact label {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
}

#contact input {
    border: 2px solid #fff;
    background: transparent;
    height: 50px;
    width: 400px;
    margin-top: 5px;
}

#contact .second-input {
    margin-top: 30px;
}

#contact .content-second p {
    font-family: 'segoe uisb', sans-serif;
    font-size: 14px;
    color: #fff;
    line-height: 25px;
    margin: 20px 0 0 150px;
}

#contact .content-second p:first-child {
    margin: 15px 0 10px 150px;
}

#contact .message input {
    width: 100%;
    height: 200px;
}

#contact .button-contact {
    margin-top: 60px;
}

#contact .button-contact a {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    background-color: #4bcaff;
    font-weight: bold;
    padding: 20px 150px;
    border: 2px solid #4bcaff;
    font-size: 14px;
}

#contact .button-contact a:hover {
    color: #4bcaff;
    background-color: transparent;
    border: 2px solid #4bcaff;
}

#contact .message {
    margin-top: 20px;
}

/* FOOTER */

footer {
    background-color: #353f47;
    height: auto;
    padding: 5% 15%;
}

.footer-nav {
    font-family: 'segoe uisb', sans-serif;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    color: #515f67;
    text-transform: uppercase;
}

.footer-nav ul {
    display: flex;
    justify-content: flex-start;
    list-style-type: none;
}

.footer-nav ul li {
    margin: 0 2px;
}

.footer-nav ul li a {
    text-decoration: none;
    color: #515f67;
    transition: all .5s;
}

.footer-nav ul li a:hover {
    color: #fff;
}


